# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\repositories\cap_inspection\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
